<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Examples</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
<script src="https://cdn.bootcss.com/echarts/3.7.2/echarts.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style type="text/css">
.row {
  margin-top: 6px;
  margin-bottom: 6px;
}
</style>
</head>
<body>
    

<div class="page-header text-center">
  <h1>Banggood全站采集服务 <small>任务状态监控系统 v0.01</small></h1>
</div>


<ul class="nav nav-tabs">
    <div class="col-md-offset-2 row">
     <div class="dropdown col-md-3">
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id='monitor_project'>
          choose a project <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="monitor_project">
          <li onclick="render_all(60,'ebaysku')"><a href="#">ebaysku 1min</a></li>
          <li onclick="render_all(3600,'ebaysku')" ><a href="#">ebaysku 1hour</a></button>
          <li onclick="render_all(86400,'ebaysku')"><a href="#">ebaysku 1day</a></button>
          <li role="separator" class="divider"></li>
          <li onclick="render_all(60,'1688update')"><a href="#">1688update 1min</a></li>
          <li onclick="render_all(3600,'1688update')" ><a href="#">1688update 1hour</a></button>
          <li onclick="render_all(86400,'1688update')"><a href="#">1688update 1day</a></button>    
      </ul>

     </div>
     <div class="col-md-3">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#operate">
        任务调度
      </button>
     </div>


    </div>
  
</ul>


<!-- Modal -->
<div class="modal fade" id="operate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">任务调度</h4>
      </div>
      <div class="modal-body">
        <div class="row">
         <div class="row">
         <div class="dropdown col-md-4 col-md-offset-1">
          <button id="task_choose" class="btn btn-info" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            选择任务
            <span class="caret"></span>
          </button>
            <ul class="dropdown-menu" aria-labelledby="task_choose">
              <li><a href="#">ebaysku</a></li>
              <li><a href="#">1688update</a></button>
            </ul>
         </div>
         </div>
         <div class="row">
         <div class="dropdown col-md-4 col-md-offset-1">
          <button id="machine_choose" class="btn btn-info" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             选择机器
           <span class="caret"></span>
          </button>
           <ul class="dropdown-menu" aria-labelledby="machine_choose">
             <li><a href="#">pachong_1</a></li>
             <li><a href="#">pachong_2</a></button>
           </ul>
         </div>
         </div>
         <div class="row">
          <div class="dropdown col-md-4 col-md-offset-1">
           <button id="action_choose" class="btn btn-info" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               操作
              <span class="caret"></span>
           </button>
           <ul class="dropdown-menu" aria-labelledby="action_choose">
              <li><a href="#">启动</a></li>
              <li><a href="#">停止</a></button>
           </ul>
          </div>
        </div>
        <div class="row">
         <div class="input-group col-md-6 col-md-offset-3">
          <span class="input-group-addon" id="basic-addon1">密码</span>
          <input type="password" class="form-control" placeholder="password" aria-describedby="basic-addon1">
         </div>
        </div>

       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">提交</button>
      </div>
    </div>
  </div>
</div>



<div class="row">
    <div class="col-md-12 text-center">
        <h3>当前显示: <strong id='label'>None</strong></h3>
    </div>
</div>    
<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <div id="respChart" style="width: 600px;height:400px;"></div>
  </div>
    <div class="col-md-5">
    <div id="respChart2" style="width: 600px;height:400px;"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <div id="respChart3" style="width: 600px;height:400px;"></div>
  </div>
    <div class="col-md-5">
    <div id="respChart4" style="width: 600px;height:400px;"></div>
  </div>
</div>


<script>
    Date.prototype.format = function(format) {
       var date = {
              "M+": this.getMonth() + 1,
              "d+": this.getDate(),
              "h+": this.getHours(),
              "m+": this.getMinutes(),
              "s+": this.getSeconds(),
              "q+": Math.floor((this.getMonth() + 3) / 3),
              "S+": this.getMilliseconds()
       };
       if (/(y+)/i.test(format)) {
              format = format.replace(RegExp.$1, (this.getFullYear() + '').substr(4 - RegExp.$1.length));
       }
       for (var k in date) {
              if (new RegExp("(" + k + ")").test(format)) {
                     format = format.replace(RegExp.$1, RegExp.$1.length == 1
                            ? date[k] : ("00" + date[k]).substr(("" + date[k]).length));
              }
       }
       return format;
    }
    var ChartResp = echarts.init(document.getElementById('respChart'));
    var ChartResp2 = echarts.init(document.getElementById('respChart2'));
    var ChartResp3 = echarts.init(document.getElementById('respChart3'));
    var ChartResp4 = echarts.init(document.getElementById('respChart4'));
    var timedict = {60:'每分钟采集状态',3600:'每小时采集状态',86400:'每日采集状态'};
    var baseurl = 'http://127.0.0.1:8000/crawler/data';
    function render_response(interval, taskname)
    {
        var url = baseurl + '?type=response' + '&t=' + interval + '&spider=' + taskname;
        $.get(url).done(function (data) {
        // 填入数据
            console.log(data)
            var machine = [];
            for (var key in data){machine.push(key)};
            var plot_data = [];
            for (var i = 0; i < machine.length; i++) {
                var tempdata = [];
                for (var j = 0; j < data[machine[i]].length; j++) 
                    {
                        ts = new Date(data[machine[i]][j]['name']*1000),
                        console.log(data[machine[i]][j])
                        tempdata.push({
                            'name':ts.format('yyyy-MM-dd hh:mm:ss'),
                            'value':[
                                 ts.format('yyyy-MM-dd hh:mm:ss'),
                                 data[machine[i]][j]['value'][0],
                                 data[machine[i]][j]['value'][2],
                            ]               
                        });
                    };
                plot_data.push({
                    name: machine[i],
                    type: 'line',
                    showSymbol: false,
                    hoverAnimation: false,
                    data: tempdata,
                })
            };
        var option = {
            title: {
                text: '响应数',
                textStyle: {
                    fontSize: 16,
                },
                x: '5%', 
                y: '5%', 
            },
            tooltip: {
                trigger: 'axis',
                formatter: function (params) {
                    params = params[0];
                    return  params.name +'\n' + '响应数: ' + params.value[1] +'\n'+ '异常：'+ params.value[2] +'\n';
                },
                axisPointer: {
                    animation: false
                }
            },
            legend: {
                orient: 'vertical', 
                x: '60%', 
                y: '15%', 
                backgroundColor: '#eee',
                borderColor: 'rgba(178,34,34,0.8)',
                borderWidth: 2,
                padding: 5,    // [5, 10, 15, 20]
                data:machine,
            },
            xAxis: {
                type: 'time',
                splitLine: {
                    show: false
                }
            },
            yAxis: {
                type: 'value',
                boundaryGap: [0, '100%'],
                splitLine: {
                    show: false
                }
            },
            series: plot_data,
        };

        setTimeout(function (){
                ChartResp.hideLoading();
                ChartResp.setOption(option);
            }, 400)

    });
    };
    function render_item(interval, taskname)
    {
        var url = baseurl+  '?type=item' + '&t=' + interval + '&spider=' + taskname;;
        $.get(url).done(function (data) {
        // 填入数据

            var machine = [];
            for (var key in data){machine.push(key)};
            var plot_data = [];
            for (var i = 0; i < machine.length; i++) {
                var tempdata = [];
                for (var j = 0; j < data[machine[i]].length; j++) 
                    {
                        ts = new Date(data[machine[i]][j]['name']*1000),

                        tempdata.push({
                            'name':ts.format('yyyy-MM-dd hh:mm:ss'),
                            'value':[
                                 ts.format('yyyy-MM-dd hh:mm:ss'),
                                 data[machine[i]][j]['value'][0],
                                 data[machine[i]][j]['value'][1],
                                 data[machine[i]][j]['value'][2],
                            ]               
                        });
                    };
                plot_data.push({
                    name: machine[i],
                    type: 'line',
                    showSymbol: false,
                    hoverAnimation: false,
                    data: tempdata,
                })
            };
        var option = {
            title: {
                text: 'item数',
                textStyle: {
                    fontSize: 16,
                },
                x: '5%', 
                y: '5%', 
            },
            tooltip: {
                trigger: 'axis',
                formatter: function (params) {
                    params = params[0];
                    return  params.name +'\n' + params.value[2]+ ': ' + params.value[1] +'\n'+ '其他：'+ params.value[3] +'\n';
                },
                axisPointer: {
                    animation: false
                }
            },
            legend: {
                orient: 'vertical', 
                x: '60%', 
                y: '15%', 
                backgroundColor: '#eee',
                borderColor: 'rgba(178,34,34,0.8)',
                borderWidth: 2,
                padding: 5,    // [5, 10, 15, 20]
                data:machine,
            },
            xAxis: {
                type: 'time',
                splitLine: {
                    show: false
                }
            },
            yAxis: {
                type: 'value',
                boundaryGap: [0, '100%'],
                splitLine: {
                    show: false
                }
            },
            series: plot_data,
        };

        setTimeout(function (){
                ChartResp2.hideLoading();
                ChartResp2.setOption(option);
            }, 400);
    });
    };
    function render_error(interval, taskname)
    {
        var url = baseurl+  '?type=error' + '&t=' + interval + '&spider=' + taskname;;
        $.get(url).done(function (data) {
        // 填入数据

            var machine = [];
            for (var key in data){machine.push(key)};
            var plot_data = [];
            for (var i = 0; i < machine.length; i++) {
                var tempdata = [];
                for (var j = 0; j < data[machine[i]].length; j++) 
                    {
                        ts = new Date(data[machine[i]][j]['name']*1000),

                        tempdata.push({
                            'name':ts.format('yyyy-MM-dd hh:mm:ss'),
                            'value':[
                                 ts.format('yyyy-MM-dd hh:mm:ss'),
                                 data[machine[i]][j]['value'][0],
                                 data[machine[i]][j]['value'][1],
                                 data[machine[i]][j]['value'][2],
                            ]               
                        });
                    };
                plot_data.push({
                    name: machine[i],
                    type: 'line',
                    showSymbol: false,
                    hoverAnimation: false,
                    data: tempdata,
                })
            };
        var option = {
            title: {
                text: 'error数',
                textStyle: {
                    fontSize: 16,
                },
                x: '5%', 
                y: '5%', 
            },
            tooltip: {
                trigger: 'axis',
                formatter: function (params) {
                    params = params[0];
                    return  params.name +'\n' + params.value[2]+ ': ' + params.value[1] +'\n'+ '其他：'+ params.value[3] +'\n';
                },
                axisPointer: {
                    animation: false
                }
            },
            legend: {
                orient: 'vertical', 
                x: '60%', 
                y: '15%', 
                backgroundColor: '#eee',
                borderColor: 'rgba(178,34,34,0.8)',
                borderWidth: 2,
                padding: 5,    // [5, 10, 15, 20]
                data:machine,
            },
            xAxis: {
                type: 'time',
                splitLine: {
                    show: false
                }
            },
            yAxis: {
                type: 'value',
                boundaryGap: [0, '100%'],
                splitLine: {
                    show: false
                }
            },
            series: plot_data,
        };

        setTimeout(function (){
                ChartResp3.hideLoading();
                ChartResp3.setOption(option);
            }, 400);

    });
    };
    function render_request(interval, taskname)
    {
        var url = baseurl+  '?type=request' + '&t=' + interval + '&spider=' + taskname;;
        $.get(url).done(function (data) {
        // 填入数据

            var machine = [];
            for (var key in data){machine.push(key)};
            var plot_data = [];
            for (var i = 0; i < machine.length; i++) {
                var tempdata = [];
                for (var j = 0; j < data[machine[i]].length; j++) 
                    {
                        ts = new Date(data[machine[i]][j]['name']*1000),

                        tempdata.push({
                            'name':ts.format('yyyy-MM-dd hh:mm:ss'),
                            'value':[
                                 ts.format('yyyy-MM-dd hh:mm:ss'),
                                 data[machine[i]][j]['value'][0],
                            ]               
                        });
                    };
                plot_data.push({
                    name: machine[i],
                    type: 'line',
                    showSymbol: false,
                    hoverAnimation: false,
                    data: tempdata,
                })
            };
        var option = {
            title: {
                text: 'request数',
                textStyle: {
                    fontSize: 16,
                },
                x: '5%', 
                y: '5%', 
            },
            tooltip: {
                trigger: 'axis',
                formatter: function (params) {
                    params = params[0];
                    return  params.name +'\n' + 'request数:' + params.value[1] +'\n';
                },
                axisPointer: {
                    animation: false
                }
            },
            legend: {
                orient: 'vertical', 
                x: '60%', 
                y: '15%', 
                backgroundColor: '#eee',
                borderColor: 'rgba(178,34,34,0.8)',
                borderWidth: 2,
                padding: 5,    // [5, 10, 15, 20]
                data:machine,
            },
            xAxis: {
                type: 'time',
                splitLine: {
                    show: false
                }
            },
            yAxis: {
                type: 'value',
                boundaryGap: [0, '100%'],
                splitLine: {
                    show: false
                }
            },
            series: plot_data,
        };
        setTimeout(function (){
                ChartResp4.hideLoading();
                ChartResp4.setOption(option);
            }, 400);

    });
    };
    function render_all(interval, taskname)
    {
        ChartResp.showLoading({
                text : '数据获取中',
                effect: 'whirling'
            });
        ChartResp2.showLoading({
                text : '数据获取中',
                effect: 'whirling'
            });
        ChartResp3.showLoading({
                text : '数据获取中',
                effect: 'whirling'
            });
        ChartResp4.showLoading({
                text : '数据获取中',
                effect: 'whirling'
            });
        render_response(interval, taskname);
        render_item(interval, taskname);
        render_error(interval, taskname);
        render_request(interval, taskname);
        $("#choose").text(taskname + timedict[interval]);
        $("#label").text(taskname + timedict[interval])
    }



</script>
</body>
</html>


